*{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgba(82, 3, 29, 0.877);
}

header{
    position: sticky;
    top:0 ;
    z-index: 20;
    width: 100%;
    background-color: #e5d9dd;
}

footer{
    position: fixed;
    bottom:0 ;
    z-index: 20;
    width: 100%;
    background-color: #e5d9dd;
}

body{
    background-color: rgba(82, 3, 29,0.15) ;
    font-size: 32px;
}

td a{
    display: block;
}

td a:hover{
    color:white;
    background-color: rgba(82, 3, 29, 0.877);
}

h1, p{
    text-align: center;
    color: rgba(82, 3, 29, 0.877);
}

.firstcolor{
    text-align: center;
    background-color: rgba(82, 3, 29, 0.877);
    color: white;
    text-decoration: none;
}

.secondcolor{
    text-align: center;
    color: rgba(82, 3, 29, 0.877);
    text-decoration: none;
}

table, th, td{
    border: 2px solid rgba(82, 3, 29, 0.877);
    border-collapse: collapse;
    text-align: center;
}

hr{
    border-top: 2px solid rgba(82, 3, 29, 0.877);
}

td{
    width: 400px;
}

th{
    width: 200px;
}