*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: rgba(12, 43, 128, 0.877);
}

body{
    background-color: white;
    font-size: 32px;
}

h1, p{
    text-align: center;
    color: rgba(19, 54, 151, 0.877);
}

.firstcolor{
    text-align: center;
    background-color: rgba(19, 54, 151, 0.877);
    color: white;
    text-decoration: none;
}

.secondcolor{
    text-align: center;
    background-color: white;
    color: rgba(12, 43, 128, 0.877);
    text-decoration: none;
}

table, th, td{
    border: 2px solid rgba(19, 54, 151, 0.877);
    border-collapse: collapse;
    text-align: center;
}

hr{
    border-top: 2px solid rgba(19, 54, 151, 0.877);
}

td{
    width: 400px;
}

th{
    width: 200px;
}